/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 
 @import "bootstrap";
 @import "bootstrap/theme";

 body{
  background: #fff;
  color: #2c3e50;
  margin-top: 50px;
 }

.upvote img {
  cursor: pointer
}

li{
  list-style: none;
  position: relative;
  left: 30px;
}

.idea {
  border: 1px solid #ecf0f1;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  // background: #ecf0f1;
}
.idea:hover{
  border: 1px solid #bdc3c7;
  
}

.votes {
  font-size: 2em;
}

.idea{

}
